@import 'tailwindcss';
body{
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}
